# requirements for the various test suites

pytest>=6.1.1,<7.0.0
pytest-benchmark>=4.0.0,<5.0.0
pytest-timeout>=2.1.0,<3.0.0
ledgercomm>=1.1.0,<1.2.0
ecdsa>=0.16.1,<0.17.0
typing-extensions>=4.16.0,<5.0.0
embit>=0.7.0,<0.8.0
mnemonic>=0.20,<0.21
bip32>=3.4,<4.0
speculos>=0.21.2
ragger[speculos, ledgerwallet]>=1.37.0
-e ./bitcoin_client  # path relative to the current working directory; assume it's the root of the repo
